<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F·r·i·e·n·d·s</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="favicon.ico"/>

</head>
<body>
    <section class="row">
        <section class="column">
            <h2>Insert new episdoe script here</h2>
            <form action="/api" method="POST">
                <h3>Episode #</h3>
                <input type="number" placeholder="215 or 1007" name="episode">
                <h3>Title</h3>
                <input id='title' type="text" placeholder="the one where..." name="title">
                <h3>Script</h3>
                <textarea name="script" type=text cols="30" rows="10" placeholder="script"></textarea>
                <button type="submit">Submit New</button>
                <!-- <button type="button" id="updateButton">Update Existing</button> -->
                <!-- <input type="text" placeholder="Character" name="character"> -->
                <!-- <input type="number" placeholder="season" name="season"> -->
            </form>
            <section>
                <h2>Get Episode info here</h2>
                <input type="number" id="episodeChoice" placeholder="episode number"></input>
                <input type="text" placeholder="character" id="getChar"></input>
                <button id="episodeButton">Get Episode</button>
                <span id="episodeTitle"></span>
                <p id="episodeScript"></p>
            </section>
        </section>

        <section class="column">
            <h2>Delete Episodes Here</h2>
            <input type="text" placeholder="episode to delete" name="deleteInput" id="deleteInput"><button id="deleteButton">Delete</button>

            <h2>Episodes Available</h2>
            <h3 id="char"><% info.char %></h3>
            <section id="epList">
                <ul class="episodes">
                    <!-- <% for(let i = 0; i < info.length; i++){ %>
                        <li class="character">
                            <span><%= info[i] %></span>: <span><%= data[i] %></span>
                        </li>
                    <% } %> -->
                    <% for(const ep in list){ %>
                        <li class="character">
                            <span><%= ep %></span>: <span><%= list[ep] %></span>
                        </li>
                    <% } %>
                    <!-- const object = { a: 1, b: 2, c: 3 };
                    for (const property in object) {
                        console.log(`${property}: ${object[property]}`);
                    } -->
                </ul>
            </section>
            
        </section>
    </section>

<script src="/main.js"></script>
</body>
</html>