element {
    --friends-blue: rgb(27, 176, 232);
    --friends-yellow: rgb(248, 192, 19);
    --friends-red: rgb(235, 35, 27);
  }
  


body{
    background-color: rgb(225, 225, 225);
    background-image: url('/images/Friends_logo.svg.png');
    background-repeat: repeat-y;
    background-repeat: round;
    color:rgb(235,35,27)
}

.row{
    display: flex;
}

.column{
    flex: 50%;
    padding-left: 2%;
}

input{
    display: block;
    font-size: 20px;
    padding: 4px 2px;
    margin: 2px 0 20px 10px;
    border: 1px solid rgb(27, 176, 232);
}

#title{
    width: 650px;
}

textarea{
    border: 1px solid rgb(27, 176, 232);
    margin: 2px 0 20px 10px;
    width: 650px;
    height: 400px;
}

button{
    margin: 2px 0 20px 10px;
    color: var(--friends-yellow);
}

#epList{
    background: white;
    width: 450px;
    border: 1px solid rgb(27, 176, 232);

}

li{
    color: rgb(248, 192, 19);
}
span{
    color: rgb(27, 176, 232);
}